.dropdown summary {
    list-style: none;
    cursor: pointer;
    outline: none;
}

.dropdown summary::-webkit-details-marker {
    display: none;
}

.dropdown-panel {
    padding: 15px;
    border-left: 2px solid #FCA311;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
}

.dropdown summary::before {
    content: "> ";
    display: inline-block;
    font-style: normal;
    display: inline-block;
    width: 20px;
    color: #2b2d42;
}

.dropdown[open] summary::before {
    content: "v ";
    color: #FCA311;
    
}

.settings-panel {
    padding: 15px;
    border-left: 2px solid #FCA311;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
}